<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>

    <link rel="stylesheet" href="/css/main.css">

</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/aboutpage">About</a>
        <a href="/workspage">Works</a>
    </nav>

    <h1>Sterling K. Brown</h1>
    <img id="about-image" src="/images/about.jpg" alt="Sterling K. Brown photo">

    <p>Sterling Kelby Brown (born April 5, 1976)[1] is an American actor. He is the recipient of various accolades,
        including three Primetime Emmy Awards and a Golden Globe Award. He was included in Time magazine's list of the
        100 most influential people in the world in 2018.</p>
    <p>Brown has portrayed Christopher Darden in the FX limited series The People v. O. J. Simpson: American Crime Story
        (2016) and starred as Randall Pearson in the NBC drama series This Is Us (2016–2022). Both roles earned him
        Primetime Emmy Awards and the latter also won him a Golden Globe Award. He has also had supporting roles in the
        films Black Panther (2018) and Waves (2019), and has appeared in the Amazon Prime comedy series The Marvelous
        Mrs. Maisel in 2019. He has also voiced characters in the 2019 animated films The Angry Birds Movie 2 and Frozen
        II.</p>

    <h2>Career</h2>
    <p>After college, Brown performed a series of roles in regional theater. He has also appeared on
        numerous television shows including ER, NYPD Blue, JAG, Boston Legal, Alias, Without a Trace,
        Supernatural,and Third Watch. He was a regular in the comedy Starved, and has also appeared in
        movies, including Stay with Ewan McGregor, Brown Sugar with Taye Diggs, and Trust the Man with David
        Duchovny and Julianne Moore</p>
    <p>He had a recurring role on the television series Supernatural, as vampire hunter Gordon Walker. He played Dr.
        Roland Burton on Army Wives and Detective Cal Beecher on Person of Interest, and appeared on Medium. In
        2008, he played David Mosley on the "Patience" episode of Eli Stone. In 2016, he starred in the FX miniseries
        The People v. O. J. Simpson: American Crime Story as Christopher Darden, for which he won the Primetime Emmy
        Award for Outstanding Supporting Actor in a Limited Series or Movie at the 68th Primetime Emmy Awards.</p>
    <p>In the theater, Brown was cast in the 2002 production of Bertolt Brecht's The Resistible Rise of Arturo Ui
        starring Al Pacino, Paul Giamatti, Steve Buscemi, John Goodman and Jacqueline McKenzie. In 2014, he starred
        as Hero in Suzan-Lori Parks' Odyssey-inspired play Father Comes Home From the Wars at New York's Public
        Theater. He also starred in the 2014 movie The Suspect with Mekhi Phifer.</p>
    <p>Since 2016, Brown has had a starring role in the television series This Is Us.[27][28] In 2018, it made him the
        first African-American actor to win a Golden Globe in the Best Actor in a Television Drama category, and the
        first to win a Screen Actors Guild Award in the Outstanding Performance by a Male Actor in a Drama Series
        category. He also won, with the rest of the cast, the Screen Actors Guild Award for Outstanding Performance by
        an Ensemble in a Drama Series. That year he also appeared as N'Jobu in the Marvel Cinematic Universe film
        Black Panther</p>
    <p>In June 2018, Brown gave the commencement address at his alma mater Stanford University</p>
    <p>He appeared as a guest star in the NYPD sitcom Brooklyn Nine-Nine, and earned critical acclaim for his role as
        Philip Davidson, a dentist under investigation for murdering his business partner. He was nominated for an
        Primetime Emmy Award for Outstanding Guest Actor in a Comedy Series in 2018 for this performance.</p>
    <p>In August 2019, he was announced at D23 Expo and on Twitter as the voice of Lieutenant Destin Mattias in Frozen
        II</p>

</body>

</html>