<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>

    <link rel="stylesheet" href="/css/main.css">

</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/aboutpage">About</a>
        <a href="/workspage">Works</a>
    </nav>


    <h1 class="home">Welcome</h1>
    <h2 class="home">This page is about Sterling K. Brown</h2>

    <div id="home-image">
        <img src="/images/home.jpg" alt="Sterling K. Brown photo">
    </div>

    <p class="home">click on the links above to know more about him and his career</p>



</body>

</html>