<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>works Page</title>

    <link rel="stylesheet" href="/css/main.css">

</head>

<body class="worksBody">

    <nav>
        <a href="/">Home</a>
        <a href="/aboutpage">About</a>
        <a href="/workspage">Works</a>
    </nav>

    <h1>He is known for</h1>

    <div id="works-image">
        <img src="/images/works.jpg" alt="his works">
    </div>


</body>

</html>